<bs-navbar></bs-navbar>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="container">
    <h2>Fresh Products Everyday !!!</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="assets/img/carousel1.jpg" alt="Los Angeles" style="width:100%;">
            </div>

            <div class="item">
                <img src="assets/img/carousel2.jpg" alt="Chicago" style="width:100%;">
            </div>

            <div class="item">
                <img src="assets/img/carousel3.jpg" alt="New york" style="width:100%;">
            </div>
        </div>
    </div>
</div>
<ul>

    <li>
        <app-category></app-category>
    </li>
    <li>
        <app-post-list></app-post-list>
    </li>
</ul>

<!-- <app-category></app-category>
<app-post-list></app-post-list> -->